body {
    background-image: url("back.jpg");
    background-color: #a399a7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: 0px;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #070107;
    height: 340px;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #2ea44f;
    text-align: center;
    padding: 5px 20px;
}

    .header h3 {
        color: #0e1004;
    }

.form {
    padding: 30px 30px;
}

.form-control {
    margin-bottom: 3px;
    padding-bottom: 3px;
    position: relative; /* positioned relative to its normal position*/
}

    .form-control label {
        display: inline-block; /*inline-block property allows to set a width and height on the element. */
    }

    .form-control input {
        border: 2px solid black;
        border-radius: 5px;
        display: block;
        width: 100%;
    }

.form-control2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative; /* positioned relative to its normal position*/
}

    .form-control2 label {
        display: inline-block; /*inline-block property allows to set a width and height on the element. */
    }

    .form-control2 input {
        border: 2px solid black;
        border-radius: 5px;
        display: block;
        width: 100%;
    }

/*button*/
.buttonMain {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

    .buttonMain:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    .buttonMain:hover {
        background-color: #2c974b;
    }

    .buttonMain:focus {
        box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
        outline: none;
    }

    .buttonMain:disabled {
        background-color: #94d3a2;
        border-color: rgba(27, 31, 35, 0.1);
        color: rgba(255, 255, 255, 0.8);
        cursor: default;
    }

    .buttonMain:active {
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
    }
